form{
    display: flex;
    justify-content: space-around;
}
form input{
    width: 100%;
}
.form-floating{
    width: 20%;
}

@media screen and (max-width: 600px) {
    form{
        display: block;
    }
    form input{
        width: 100%;
        font-size: 5px;
    }
    .form-floating{
        width: 90%;
        margin: 10px 0;
    }
  }
